.header{
  border-bottom: solid;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
}

ul {
  height: 50px;
}

li {
  height: 50px;
  display: inline-block;
}

/*form {
  height: 50px;
}

input {
  height: 50px;
}*/

form input.button-header {
  width: 100px;
  height: 50px;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}