.header{
  background-color: #FAAC58;
  height: 50px;
}

.header-left{
  float: left;
  height: 50px;
}

.header-right{
  float: right;
  height: 50px;
}

.header-title {
  vertical-align: middle;
  font-size: 30px;
}

ul {
  height: 50px;
}

li {
  height: 50px;
  display: inline-block;
}

.button_to input[type="submit"] {
  height: 50px;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}