%div.header
  %div.header-left
    = link_to 'Knocal', root_path
  %div.header-right
    - if user_signed_in?
      %a
        = link_to "質問する", new_question_path
      %a
        = link_to "マイページ", user_path(current_user)
      %a
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      %a{ :href => new_user_session_path }
        サインイン
      %a{ :href => new_user_registration_path }
        サインアップ